* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    background-color: #28cc8c;
    font-family: aftika;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;

}

.login-container {
    background-color: white;
    width: fit-content;
    padding: 3em 3.5em;
    border-radius: 7px;
    box-shadow: 0px 10px 25px 5px rgba(0, 0, 0, 0.2);
}

.userinput {
    margin-bottom: 25px;
    border: 1px solid black;
    height: 45px;
    min-width: 355px;
    border-radius: 3px;
    font-family: aftika;
    font-size: 18px;
    padding: 15px;
}



input,
h4 {
    font-size: 25px;
}

.login-row h4 {
    margin-bottom: 10px;
}

.login-submit {
    background: #08c27b;
    border: 0px solid black;
    border-radius: 4px;
    padding: 8px;
    font-size: 22px;
    width: 100%;
    transition: all 80ms ease-in;
    margin-top: 20px;
    color: white;
    box-shadow: 0 1px 6px 0px #28cc8c;
}

.login-submit:hover{
    box-shadow: none;
    background: #21a773;
}

.options {
    text-align: center;
    margin-top: 35px;
    margin-bottom: -15px;
    font-size: 14px;
}

.options p,
a {
    color: rgba(7, 7, 7, 0.562);
}

.options a {
    border: transparent;
    color: rgba(7, 7, 7, 0.562);
    background: transparent;
    text-decoration: underline;
    font-size: 16px;
    font-family: aftika;
}

.options a:hover {
    color: #08c27b;
}

.overlay {
    opacity: 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.4);
    z-index: -9998;
    transition: opacity 500ms ease;
}


/* alerts */

.alerts {
    opacity: 0;
    border: 0.1px solid black;
    z-index: -9999;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 40px 65px;
    background-color: #fff;
    border-radius: 15px;
    transition: opacity 500ms ease;
}

.alert {
    font-size: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 25px;

}

.alertButtons {
    display: flex;
    column-gap: 15px;
}

.alertButton {
    font-size: 16px;
    width: fit-content;
    background: transparent;
    border: 1px solid black;
    border-radius: 12px;
    padding: 8px 20px;
    cursor: pointer;
    font-weight: 700;
}

.alertInput {
    font-family: aftika;
    border: 1px solid black;
    border-radius: 6px;
    padding: 8px 20px;
}

.alertInput::placeholder {
    text-align: center;
}